.NHeader {
    height: 75px;
    background-color: #ff9933;
}
.navbar .nav > li > a {
    padding: 10px 10px 10px 10px !important;
}
.NHeaderRow {
    height: 25px;
}

/*Top Link Style*/
.top-bar-link {
    float: right;
}

    .top-bar-link ul {
        margin: 5px 0 0 0;
        padding: 0px;
    }

        .top-bar-link ul li {
            list-style-type: none;
            float: right;
            font-size: 0.95em;
            text-align: right;
            padding-right: 4px;
            padding-left: 4px;
            /*border-right: 1px solid #CCC;*/
        }

            .top-bar-link ul li a {
                color: #000;
                font-size: 0.95em;
            }

                .top-bar-link ul li a:hover {
                    color: red; /*/////////////////////////////////////////*/
                    text-decoration: none;
                    font-size: 0.95em;
                    text-decoration: underline;
                }

            .top-bar-link ul li.lastli {
                padding: 0px;
                border-right: medium none;
                font-size: 0.95em;
            }


.Ncontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:768px) {
    .Ncontainer {
        width: 750px;
    }
}

@media (min-width:992px) {
    .Ncontainer {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .Ncontainer {
        width: 1170px;
    }
}

.Ncontainer > .navbar-collapse, .Ncontainer > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width:768px) {
    .Ncontainer > .navbar-collapse, .Ncontainer > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width:768px) {
    .navbar > .Ncontainer .navbar-brand, .navbar > .Ncontainer-fluid .navbar-brand {
        margin-left: -15px;
    }
}



.Ncol-lg-1, .Ncol-lg-10, .Ncol-lg-11, .Ncol-lg-12, .Ncol-lg-2, .Ncol-lg-3, .Ncol-lg-4, .Ncol-lg-5, .Ncol-lg-6, .Ncol-lg-7, .Ncol-lg-8, .Ncol-lg-9, .Ncol-md-1, .Ncol-md-10, .Ncol-md-11, .Ncol-md-12, .Ncol-md-2, .Ncol-md-3, .Ncol-md-4, .Ncol-md-5, .Ncol-md-6, .Ncol-md-7, .Ncol-md-8, .Ncol-md-9, .Ncol-sm-1, .Ncol-sm-10, .Ncol-sm-11, .Ncol-sm-12, .Ncol-sm-2, .Ncol-sm-3, .Ncol-sm-4, .Ncol-sm-5, .Ncol-sm-6, .Ncol-sm-7, .Ncol-sm-8, .Ncol-sm-9, .Ncol-xs-1, .Ncol-xs-10, .Ncol-xs-11, .Ncol-xs-12, .Ncol-xs-2, .Ncol-xs-3, .Ncol-xs-4, .Ncol-xs-5, .Ncol-xs-6, .Ncol-xs-7, .Ncol-xs-8, .Ncol-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.Ncol-xs-1, .Ncol-xs-10, .Ncol-xs-11, .Ncol-xs-12, .Ncol-xs-2, .Ncol-xs-3, .Ncol-xs-4, .Ncol-xs-5, .Ncol-xs-6, .Ncol-xs-7, .Ncol-xs-8, .Ncol-xs-9 {
    float: left;
}

.Ncol-xs-12 {
    width: 100%;
}

.Ncol-xs-11 {
    width: 91.66666667%;
}

.Ncol-xs-10 {
    width: 83.33333333%;
}

.Ncol-xs-9 {
    width: 75%;
}

.Ncol-xs-8 {
    width: 66.66666667%;
}

.Ncol-xs-7 {
    width: 58.33333333%;
}

.Ncol-xs-6 {
    width: 50%;
}

.Ncol-xs-5 {
    width: 41.66666667%;
}

.Ncol-xs-4 {
    width: 33.33333333%;
}

.Ncol-xs-3 {
    width: 25%;
}

.Ncol-xs-2 {
    width: 16.66666667%;
}

.Ncol-xs-1 {
    width: 8.33333333%;
}

.Ncol-xs-pull-12 {
    right: 100%;
}

.Ncol-xs-pull-11 {
    right: 91.66666667%;
}

.Ncol-xs-pull-10 {
    right: 83.33333333%;
}

.Ncol-xs-pull-9 {
    right: 75%;
}

.Ncol-xs-pull-8 {
    right: 66.66666667%;
}

.Ncol-xs-pull-7 {
    right: 58.33333333%;
}

.Ncol-xs-pull-6 {
    right: 50%;
}

.Ncol-xs-pull-5 {
    right: 41.66666667%;
}

.Ncol-xs-pull-4 {
    right: 33.33333333%;
}

.Ncol-xs-pull-3 {
    right: 25%;
}

.Ncol-xs-pull-2 {
    right: 16.66666667%;
}

.Ncol-xs-pull-1 {
    right: 8.33333333%;
}

.Ncol-xs-pull-0 {
    right: auto;
}

.Ncol-xs-push-12 {
    left: 100%;
}

.Ncol-xs-push-11 {
    left: 91.66666667%;
}

.Ncol-xs-push-10 {
    left: 83.33333333%;
}

.Ncol-xs-push-9 {
    left: 75%;
}

.Ncol-xs-push-8 {
    left: 66.66666667%;
}

.Ncol-xs-push-7 {
    left: 58.33333333%;
}

.Ncol-xs-push-6 {
    left: 50%;
}

.Ncol-xs-push-5 {
    left: 41.66666667%;
}

.Ncol-xs-push-4 {
    left: 33.33333333%;
}

.Ncol-xs-push-3 {
    left: 25%;
}

.Ncol-xs-push-2 {
    left: 16.66666667%;
}

.Ncol-xs-push-1 {
    left: 8.33333333%;
}

.Ncol-xs-push-0 {
    left: auto;
}

.Ncol-xs-offset-12 {
    margin-left: 100%;
}

.Ncol-xs-offset-11 {
    margin-left: 91.66666667%;
}

.Ncol-xs-offset-10 {
    margin-left: 83.33333333%;
}

.Ncol-xs-offset-9 {
    margin-left: 75%;
}

.Ncol-xs-offset-8 {
    margin-left: 66.66666667%;
}

.Ncol-xs-offset-7 {
    margin-left: 58.33333333%;
}

.Ncol-xs-offset-6 {
    margin-left: 50%;
}

.Ncol-xs-offset-5 {
    margin-left: 41.66666667%;
}

.Ncol-xs-offset-4 {
    margin-left: 33.33333333%;
}

.Ncol-xs-offset-3 {
    margin-left: 25%;
}

.Ncol-xs-offset-2 {
    margin-left: 16.66666667%;
}

.Ncol-xs-offset-1 {
    margin-left: 8.33333333%;
}

.Ncol-xs-offset-0 {
    margin-left: 0;
}

@media (min-width:768px) {
    .Ncol-sm-1, .Ncol-sm-10, .Ncol-sm-11, .Ncol-sm-12, .Ncol-sm-2, .Ncol-sm-3, .Ncol-sm-4, .Ncol-sm-5, .Ncol-sm-6, .Ncol-sm-7, .Ncol-sm-8, .Ncol-sm-9 {
        float: left;
    }

    .Ncol-sm-12 {
        width: 100%;
    }

    .Ncol-sm-11 {
        width: 91.66666667%;
    }

    .Ncol-sm-10 {
        width: 83.33333333%;
    }

    .Ncol-sm-9 {
        width: 75%;
    }

    .Ncol-sm-8 {
        width: 66.66666667%;
    }

    .Ncol-sm-7 {
        width: 58.33333333%;
    }

    .Ncol-sm-6 {
        width: 50%;
    }

    .Ncol-sm-5 {
        width: 41.66666667%;
    }

    .Ncol-sm-4 {
        width: 33.33333333%;
    }

    .Ncol-sm-3 {
        width: 25%;
    }

    .Ncol-sm-2 {
        width: 16.66666667%;
    }

    .Ncol-sm-1 {
        width: 8.33333333%;
    }

    .Ncol-sm-pull-12 {
        right: 100%;
    }

    .Ncol-sm-pull-11 {
        right: 91.66666667%;
    }

    .Ncol-sm-pull-10 {
        right: 83.33333333%;
    }

    .Ncol-sm-pull-9 {
        right: 75%;
    }

    .Ncol-sm-pull-8 {
        right: 66.66666667%;
    }

    .Ncol-sm-pull-7 {
        right: 58.33333333%;
    }

    .Ncol-sm-pull-6 {
        right: 50%;
    }

    .Ncol-sm-pull-5 {
        right: 41.66666667%;
    }

    .Ncol-sm-pull-4 {
        right: 33.33333333%;
    }

    .Ncol-sm-pull-3 {
        right: 25%;
    }

    .Ncol-sm-pull-2 {
        right: 16.66666667%;
    }

    .Ncol-sm-pull-1 {
        right: 8.33333333%;
    }

    .Ncol-sm-pull-0 {
        right: auto;
    }

    .Ncol-sm-push-12 {
        left: 100%;
    }

    .Ncol-sm-push-11 {
        left: 91.66666667%;
    }

    .Ncol-sm-push-10 {
        left: 83.33333333%;
    }

    .Ncol-sm-push-9 {
        left: 75%;
    }

    .Ncol-sm-push-8 {
        left: 66.66666667%;
    }

    .Ncol-sm-push-7 {
        left: 58.33333333%;
    }

    .Ncol-sm-push-6 {
        left: 50%;
    }

    .Ncol-sm-push-5 {
        left: 41.66666667%;
    }

    .Ncol-sm-push-4 {
        left: 33.33333333%;
    }

    .Ncol-sm-push-3 {
        left: 25%;
    }

    .Ncol-sm-push-2 {
        left: 16.66666667%;
    }

    .Ncol-sm-push-1 {
        left: 8.33333333%;
    }

    .Ncol-sm-push-0 {
        left: auto;
    }

    .Ncol-sm-offset-12 {
        margin-left: 100%;
    }

    .Ncol-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .Ncol-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .Ncol-sm-offset-9 {
        margin-left: 75%;
    }

    .Ncol-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .Ncol-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .Ncol-sm-offset-6 {
        margin-left: 50%;
    }

    .Ncol-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .Ncol-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .Ncol-sm-offset-3 {
        margin-left: 25%;
    }

    .Ncol-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .Ncol-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .Ncol-sm-offset-0 {
        margin-left: 0;
    }
}

@media (min-width:992px) {
    .Ncol-md-1, .Ncol-md-10, .Ncol-md-11, .Ncol-md-12, .Ncol-md-2, .Ncol-md-3, .Ncol-md-4, .Ncol-md-5, .Ncol-md-6, .Ncol-md-7, .Ncol-md-8, .Ncol-md-9 {
        float: left;
    }

    .Ncol-md-12 {
        width: 100%;
    }

    .Ncol-md-11 {
        width: 91.66666667%;
    }

    .Ncol-md-10 {
        width: 83.33333333%;
    }

    .Ncol-md-9 {
        width: 75%;
    }

    .Ncol-md-8 {
        width: 66.66666667%;
    }

    .Ncol-md-7 {
        width: 58.33333333%;
    }

    .Ncol-md-6 {
        width: 50%;
    }

    .Ncol-md-5 {
        width: 41.66666667%;
    }

    .Ncol-md-4 {
        width: 33.33333333%;
    }

    .Ncol-md-3 {
        width: 25%;
    }

    .Ncol-md-2 {
        width: 16.66666667%;
    }

    .Ncol-md-1 {
        width: 8.33333333%;
    }

    .Ncol-md-pull-12 {
        right: 100%;
    }

    .Ncol-md-pull-11 {
        right: 91.66666667%;
    }

    .Ncol-md-pull-10 {
        right: 83.33333333%;
    }

    .Ncol-md-pull-9 {
        right: 75%;
    }

    .Ncol-md-pull-8 {
        right: 66.66666667%;
    }

    .Ncol-md-pull-7 {
        right: 58.33333333%;
    }

    .Ncol-md-pull-6 {
        right: 50%;
    }

    .Ncol-md-pull-5 {
        right: 41.66666667%;
    }

    .Ncol-md-pull-4 {
        right: 33.33333333%;
    }

    .Ncol-md-pull-3 {
        right: 25%;
    }

    .Ncol-md-pull-2 {
        right: 16.66666667%;
    }

    .Ncol-md-pull-1 {
        right: 8.33333333%;
    }

    .Ncol-md-pull-0 {
        right: auto;
    }

    .Ncol-md-push-12 {
        left: 100%;
    }

    .Ncol-md-push-11 {
        left: 91.66666667%;
    }

    .Ncol-md-push-10 {
        left: 83.33333333%;
    }

    .Ncol-md-push-9 {
        left: 75%;
    }

    .Ncol-md-push-8 {
        left: 66.66666667%;
    }

    .Ncol-md-push-7 {
        left: 58.33333333%;
    }

    .Ncol-md-push-6 {
        left: 50%;
    }

    .Ncol-md-push-5 {
        left: 41.66666667%;
    }

    .Ncol-md-push-4 {
        left: 33.33333333%;
    }

    .Ncol-md-push-3 {
        left: 25%;
    }

    .Ncol-md-push-2 {
        left: 16.66666667%;
    }

    .Ncol-md-push-1 {
        left: 8.33333333%;
    }

    .Ncol-md-push-0 {
        left: auto;
    }

    .Ncol-md-offset-12 {
        margin-left: 100%;
    }

    .Ncol-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .Ncol-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .Ncol-md-offset-9 {
        margin-left: 75%;
    }

    .Ncol-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .Ncol-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .Ncol-md-offset-6 {
        margin-left: 50%;
    }

    .Ncol-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .Ncol-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .Ncol-md-offset-3 {
        margin-left: 25%;
    }

    .Ncol-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .Ncol-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .Ncol-md-offset-0 {
        margin-left: 0;
    }
}

@media (min-width:1200px) {
    .Ncol-lg-1, .Ncol-lg-10, .Ncol-lg-11, .Ncol-lg-12, .Ncol-lg-2, .Ncol-lg-3, .Ncol-lg-4, .Ncol-lg-5, .Ncol-lg-6, .Ncol-lg-7, .Ncol-lg-8, .Ncol-lg-9 {
        float: left;
    }

    .Ncol-lg-12 {
        width: 100%;
    }

    .Ncol-lg-11 {
        width: 91.66666667%;
    }

    .Ncol-lg-10 {
        width: 83.33333333%;
    }

    .Ncol-lg-9 {
        width: 75%;
    }

    .Ncol-lg-8 {
        width: 66.66666667%;
    }

    .Ncol-lg-7 {
        width: 58.33333333%;
    }

    .Ncol-lg-6 {
        width: 50%;
    }

    .Ncol-lg-5 {
        width: 41.66666667%;
    }

    .Ncol-lg-4 {
        width: 33.33333333%;
    }

    .Ncol-lg-3 {
        width: 25%;
    }

    .Ncol-lg-2 {
        width: 16.66666667%;
    }

    .Ncol-lg-1 {
        width: 8.33333333%;
    }

    .Ncol-lg-pull-12 {
        right: 100%;
    }

    .Ncol-lg-pull-11 {
        right: 91.66666667%;
    }

    .Ncol-lg-pull-10 {
        right: 83.33333333%;
    }

    .Ncol-lg-pull-9 {
        right: 75%;
    }

    .Ncol-lg-pull-8 {
        right: 66.66666667%;
    }

    .Ncol-lg-pull-7 {
        right: 58.33333333%;
    }

    .Ncol-lg-pull-6 {
        right: 50%;
    }

    .Ncol-lg-pull-5 {
        right: 41.66666667%;
    }

    .Ncol-lg-pull-4 {
        right: 33.33333333%;
    }

    .Ncol-lg-pull-3 {
        right: 25%;
    }

    .Ncol-lg-pull-2 {
        right: 16.66666667%;
    }

    .Ncol-lg-pull-1 {
        right: 8.33333333%;
    }

    .Ncol-lg-pull-0 {
        right: auto;
    }

    .Ncol-lg-push-12 {
        left: 100%;
    }

    .Ncol-lg-push-11 {
        left: 91.66666667%;
    }

    .Ncol-lg-push-10 {
        left: 83.33333333%;
    }

    .Ncol-lg-push-9 {
        left: 75%;
    }

    .Ncol-lg-push-8 {
        left: 66.66666667%;
    }

    .Ncol-lg-push-7 {
        left: 58.33333333%;
    }

    .Ncol-lg-push-6 {
        left: 50%;
    }

    .Ncol-lg-push-5 {
        left: 41.66666667%;
    }

    .Ncol-lg-push-4 {
        left: 33.33333333%;
    }

    .Ncol-lg-push-3 {
        left: 25%;
    }

    .Ncol-lg-push-2 {
        left: 16.66666667%;
    }

    .Ncol-lg-push-1 {
        left: 8.33333333%;
    }

    .Ncol-lg-push-0 {
        left: auto;
    }

    .Ncol-lg-offset-12 {
        margin-left: 100%;
    }

    .Ncol-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .Ncol-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .Ncol-lg-offset-9 {
        margin-left: 75%;
    }

    .Ncol-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .Ncol-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .Ncol-lg-offset-6 {
        margin-left: 50%;
    }

    .Ncol-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .Ncol-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .Ncol-lg-offset-3 {
        margin-left: 25%;
    }

    .Ncol-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .Ncol-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .Ncol-lg-offset-0 {
        margin-left: 0;
    }
}


.Ntext-center {
    text-align: center;
}


@media (max-width:767px)
{
    .Nhidden-xs
    {
        display: none!important;
    }
}

@media (min-width:768px) and (max-width:991px)
{
    .Nhidden-sm
    {
        display: none!important;
    }
}

@media (min-width:992px) and (max-width:1199px)
{
    .Nhidden-md
    {
        display: none!important;
    }
}

@media (min-width:1200px)
{
    .Nhidden-lg
    {
        display: none!important;
    }
}